@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "@fontsource/figtree/400.css";
@import "@fontsource/figtree/500.css";
@import "@fontsource/figtree/600.css";

/* opcional: si quieres itálicas también */
@import "@fontsource/figtree/400-italic.css";
@import "@fontsource/figtree/500-italic.css";
@import "@fontsource/figtree/600-italic.css";




/* Fuente del sistema: sin CDNs */
:root {
  --font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
               Noto Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial,
               "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
body { font-family: var(--font-sans); }